.container{
  width: 800px;
  margin: 0 auto;
}


@media (max-width: 992px) {
  .container{
    width: 500px;
  }

  .card{
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .container{
    width: 500px;
  }

  .card{
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .container{
    width: 300px;
  }
}
